.container {
	background: url("ube.jpg");
	background-size: contain;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	scroll-snap-type: y mandatory;
}
.section {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: auto;
	scroll-snap-align: start;
}
.content {
	text-align: center;
	margin-top: 300px;
}